In [1]:
import json
import os
import random
import re
from collections import Counter

import jieba
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.metrics import accuracy_score, confusion_matrix
from torch.utils.data import DataLoader, Dataset

/opt/anaconda3/envs/test_env/lib/python3.13/site-packages/jieba/_compat.py:18: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [3]:
# 1. 读取数据
train_data = pd.read_csv('../data/train.csv')
val_data = pd.read_csv('../data/val.csv')
test_data = pd.read_csv('../data/test.csv')

In [4]:
train_data

                             text  label
0              中华女子学院：本科层次仅1专业招男生      3
1          两天价网站背后重重迷雾：做个网站究竟要多少钱      4
2       东5环海棠公社230-290平2居准现房98折优惠      1
3       卡佩罗：告诉你德国脚生猛的原因 不希望英德战踢点球      7
4         82岁老太为学生做饭扫地44年获授港大荣誉院士      5
...                           ...    ...
179995  侧滑掌上PSP手机 索爱Xperia Play评测      4
179996       皖通高速跌0.8% 国元香港给予买入评级      2
179997                 《无限江湖》近日更新      8
179998  廊坊十九城邦别墅现内部认购96折均价7000(图)      1
179999       连续上涨7个月 糖价7月可能出现调整行情      0

[180000 rows x 2 columns]

In [5]:
val_data

                          text  label
0           体验2D巅峰 倚天屠龙记十大创新概览      8
1            60年铁树开花形状似玉米芯(组图)      5
2                同步A股首秀：港股缩量回调      2
3            中青宝sg现场抓拍 兔子舞热辣表演      8
4                     锌价难续去年辉煌      0
...                        ...    ...
9995     通州世佳别墅6月开盘多种户型房源9月可入住      1
9996        19岁女孩雇凶杀死44岁情夫被判死缓      5
9997     首部微博题材电影启动 海选微博小秘书引关注      9
9998       泰国首相称若无暴力事件上半年将举行大选      6
9999  西甲-瓦伦西亚3比0胜皇马 巴萨次日如胜即可夺冠      7

[10000 rows x 2 columns]

In [6]:
test_data

                          text  label
0        新酷睿来袭 三星发布多款2010笔记本新品      0
1           泰国南部市场遭爆炸袭击造成28人受伤      0
2        周刊爆料巩俐已离婚 网站显示婚姻关系还存在      0
3             日本新内阁上台后首相外相都将访美      0
4                尼泊尔总理抵达拉萨开始访华      0
...                        ...    ...
9995               企业简介：恒大地产集团      0
9996  二环内一瓶兰亭精装公寓9月开盘总价80万起(图)      0
9997   5号线宋家庄万科红精装1-2居11月20日开盘      0
9998       河南招办：错过网上填报志愿不能现场补报      0
9999     杀人犯猝死公安局获赔18万 被害方无人过问      0

[10000 rows x 2 columns]